:root {
    --cor-fundo: #FAB9C6;
    --cor-degrade: linear-gradient(93deg, #FF9DB0 20.74%, #FF375E 100%);
    --cor-letra: #FF375E;
    --cor-fases: rgba(255, 163, 181, 0.50);
    --letra-grades: 'Chakra Petch', sans-serif;
}

body{
    background-color: var(--cor-fundo);
    margin-top: 75px;
}
/*
header {
      height: 900px;
  width: 1300px;
  background-image: url('img/fund1.pn'); /* coloque o caminho correto aqui 
  background-size: cover;  cobre todo o espaço do header 
  /*background-position: center;  centraliza a imagem 
  align-items: center;
  justify-content: center;
  border-radius: 32px;
}
  */

main{
  background-image: url('img/fund1.png'); /* coloque o caminho correto aqui */
  width: 100%;
  max-width: 1400px;
  height: 700px;
  padding: 20px;
  display: flex;
  gap: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
}

@media (max-width: 655px) {
  main {
    flex-direction: column;
    
    display: block;
     height: 700px;
  }

  h1 {
    font-size: 44px !important;
  }

  .data {
    margin-left: 0;
    display: inline-block;
  }

  .happy{
       padding: 25px 15px;
    margin-bottom: 50px;
  }

  .card{
    margin-top: 24px;
  }

  .karo{
    display: block !important;
    font-size: 16px;
    justify-content: center;
  }

  .finalcar {
    width: 100%;
    height: auto;
  }
}


.kitty{
    border-radius: 32px;
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.30);
      max-width: 100%;
     height: 288px;
}

.happy{
   border-radius: 20px;
    background: rgba(255, 255, 255, 0.56);
    padding: 35px 25px;
}

h1{
    font-family: var(--letra-grades);
  font-size: 96px;
    font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}

p{
  text-align: center;
  font-size: 24px;
}

.data{
    background: var(--cor-degrade);
    border-radius: 32px;
    border: none;
    margin-left: 150px;
    padding: 12px 15px;
    color: white;
    font-weight: 600;
}

.fonte{
        font-family: var(--letra-grades);
        color: var(--cor-letra);
  font-size: 64px;
    font-style: normal;
font-weight: 700;
line-height: normal;

}

.kittyfaz {

  flex-wrap: wrap;
  gap: 40px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 55px;
}

.kittyfaz iframe {
  max-width: 100%;
  height: auto;
}


h3 {
    font-size: 25px;
}

.fases{
    padding: 32px;
     text-align: center;
     background: var(--cor-fases);
           align-items: center;
  justify-content: center;
  margin-top: 220px;
  
}

.carousel-fases {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
    margin: 0;
  padding: 0;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
  gap: 20px;
}

.carousel-track img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.card{
  border-radius: 32px;
  text-align: center;
  align-items: center;
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.31);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.di {
  color: var(--cor-letra);
  font-size: 32px;
}

.cont {
  padding: 15px 15px;
  background: var(--cor-degrade);
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.ende{
  margin-top: 32px;
}

.karo{
  display: flex;
  margin-top: 100px;
  gap: 200px;
  align-items: center;
  justify-content: center;
}

span{
  font-size: 16px;
  display: block;
}